
h1 {
    text-align: center;
    color: crimson;
}

p {
    text-align: center;
    font-size: 25px;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(85, 47, 4);
    
}


table{
    width: 90%;
    padding: 7px;
    text-align: center;
  }

  th {
    background: rgb(197, 204, 99);
    padding: 10px;
    margin: 10px;
    color: crimson;
     
  }
  
  td {
    padding: 5px;
    margin: 7px;
    border: 7px;
    text-align: center;
    color :indigo ;
  }

  tr{

    background-color: tan;
    color :indigo ;

}
  
  
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color:rgb(101, 169, 233);
  }


 